<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="activity_signup"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".ConfirmationActivity"
            android:exported="false"/>
        <activity
            android:name=".SimpleChat"
            android:exported="true"/>
        <activity
            android:name=".ChatActivity"
            android:exported="false"/>
        <activity
            android:name=".AllChatsActivity"
            android:exported="true"/>
        <activity
            android:name=".ProfileCreationDetailOne"
            android:exported="true" />
        <activity
            android:name=".NotificationSignIn"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".PreferenceTwo"
            android:exported="true" />
        <activity
            android:name=".PreferenceOne"
            android:exported="true" />

        <activity
            android:name=".ProfileCreationDetailTwo"
            android:exported="true" />
        <activity
            android:name=".ProfileCreationDetailThree"
            android:exported="true" />

        <activity
            android:name=".TroubleSigningInActivity"
            android:label="Trouble Signing In"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity
            android:name=".CameraActivity"
            android:label="Camera Bruh"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity
            android:name=".ChangePhotoActivity"
            android:label="Camera Bruh 2"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity
            android:name=".ChangePassword"
            android:exported="true" />

        <activity
            android:name=".ProfileSetup"
            android:exported="true" />

        <activity
            android:name=".PreferenceCloneOne"
            android:exported="true" />

        <activity
            android:name=".PreferenceCloneTwo"
            android:exported="true" />

        <activity
            android:name=".MainPage"
            android:exported="true" />

        <activity
            android:name=".ProfileCloneOne"
            android:exported="true" />

        <activity
            android:name=".ProfileCloneTwo"
            android:exported="true" />

        <activity
            android:name=".ProfileCloneThree"
            android:exported="true" />

        <activity
            android:name=".AccountInfo"
            android:exported="true" />

        
        <!-- Main activity (Entry point of your application) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- This line is required for apps targeting API 31 or above -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>